*{
    /* border: 1px, dashed, red; */
    margin:0;
    padding:0;
    flex-wrap: wrap;
}
body{
    min-height: 100vh;
    background-image: url(imgs/pp_ss.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: start;
    align-items: center;
}
nav{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    background-color: white;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}